<?xml version="1.0" encoding="utf-8"?>

<configuration>
   

    <system.web.extensions>
       <scripting>
           <webServices>
               <jsonSerialization maxJsonLength="999999"/>
           </webServices>
       </scripting>
   </system.web.extensions>




  <system.web>
      <httpRuntime requestValidationMode="2.0"  maxRequestLength="2000000" />
        <sessionState mode="InProc" timeout="240"></sessionState>
    <compilation debug="true" targetFramework="4.0" />
        <customErrors mode="Off"/>
 </system.web>

     <system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" compilerOptions="/unsafe+" warningLevel="4" />
		</compilers>
	</system.codedom>
 
</configuration>